<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.company.glu.glutape">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="services.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logogluetape"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logogluetape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CheckInCheckOutActivity"
            android:screenOrientation="portrait"/>

<!--
        <receiver
            android:name="connectivity.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
-->

        <activity android:name=".SelectDisributerDealerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CheckInDistributerActivity"
            android:noHistory="false"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CheckInDealerActivity"
            android:noHistory="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>